html {
  background: url(emptyroom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-sizing: border-box;
   }

  body {
    font-family: "Helvetica Neue", sans-serif;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
   
  }

.landing {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  position: relative;
  padding-top: 15%;
  clear: both;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgba(0,0,0,0.5); }


#logo {
  width: 200px;
  position: fixed;
  top: 20px;
  left: 20px;
}
span {
  font-weight: bold;
  font-style:italic;
  /*color:#2980b9 ;*/
}

  form {
    clear: both;
    /*float: right;*/
  width: 450px;
  margin: 5% auto;
  text-align: center;
  /*margin-right: 200px;*/
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px 30px 30px 30px;
  border-radius: 4px;


}
@media screen and (max-width: 800px) {
    form {
      float:none;
      margin: 48% auto;
      margin-right: auto;
    }
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  text-decoration: none;
  margin: 0 auto;
 
  width: 35%;
  padding: 20px 10px;
  background: #e74c3c;
  font-family: inherit;
  /*font-weight: bold;*/
  color: inherit;
  letter-spacing: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #e74c3c;
}
  

input:focus {
  outline: none;
  outline: 2px solid #e74c3c;
  box-shadow: 0 0 2px #e74c3c;
}